#splash-heading {
  font-family: Power-Bubble;
  font-size: 5rem;
  padding-top: 15%;
  margin: 0 auto;
  text-align: center;
}

#periodtrackertitle {
  font-family: Power-Bubble;
  font-size: 6rem;
  margin: 0 auto;
  text-align: center;
}