html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

@font-face {
  font-family: Power-Bubble;
  src: url(PowerBubble.ttf);
}

body {
  background-color: #f9b4d7;
  color: #352929;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background-color: #d282b6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #1a1a1a;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  box-shadow: 4px 4px 2px #7e7e7e;
}

nav > div {
  padding: 0 1rem;
  font-family: Power-Bubble;
  font-size: 2rem;
}

div > a {
  text-decoration: none;
  color: #282828;
}

div > a:hover {
  color: white;
  text-decoration: underline;
}

.right {
  margin-left: 0;
}

#navleft {
  margin-left: 0;
}