<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>


<section>
  <h1>Edit Period!</h1>
  <% if (user) { %>
    <form 
    id="new-form" 
    action="/periods/<%= period._id %>?_method=PUT" 
    method="POST"
  > 
      <label for="starts">Start Date:</label>
      <input type="datetime-local" name="startDate" id="starts-input">
      <label for="ends">End Date:</label>
      <input type="datetime-local" name="endDate" id="ends-input">
      <button type="submit">Edit Period</button>
    </form>
  <% } %>

  <%- include('../partials/footer') %>