<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/periods.css" />
<%- include('../partials/nav') %>
<main>
  <section>
    <h1>Add New Period!</h1>
    <%# New Code Below %>
    <% if (user) { %>
      <form action="/periods" method="POST">
        <label for="starts">Start Date:</label>
        <input type="datetime-local" name="startDate" id="starts-input">
        <label for="ends">End Date:</label>
        <input type="datetime-local" name="endDate" id="ends-input">
        <button type="submit">Add Period</button>
      </form>
    <% } %>
  </section>
</main>

  <%- include('../partials/footer') %>